.login-visible {
  z-index: 1;

  .containerLogin {
    padding-top: 150px;

    .formLogin {

      background-color: #444;
      display: flex;
      flex-direction: column;
      min-height: 60vh;
      font-weight: 400;
      width: 500px;
      height: auto;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: auto;
      border-radius: 10px;
      color: #ffffff;



      h1 {
        padding-top: 30px;
      }

      .form-group {


        display: flex;
        flex-direction: column;

        label {
          font-weight: 500;
          display: block;
          width: 100%;
          margin-top: 11px;
          margin-bottom: 11px;

        }

        .form-control {
          width: 300px;
          height: 30px;
          border-radius: 8px;
          text-align: center;
          border: 1px solid #444;

        }

      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          width: 100px;
          height: 30px;
          margin: 25px;
          border-radius: 5px;
          border: 1px solid #444;
        }

        .link {
          padding: 10px;
          padding-bottom: 20px;
          font-size: 15px;
          text-decoration: none;
          color: #FFFFFF;

          &:hover {
            color: #06233f;
            text-decoration: underline;
          }
        }
      }

    }

    .ON {
      background-color: rgb(19, 97, 19);
    }

    .errorActivate {
      .errMessage {
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }

    .errorOff {
      display: none;
    }


  }
}

.login-invisible {
  display: none;
}