.details-visible {


  .title-details {
    font-size: 2.4rem;
    padding: 5rem 0 0 2rem;
    margin-bottom: 1rem;
    color: #333;
    z-index: -2;
    text-align: center;
  }

  .details-products {
    padding: 3px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
    padding-bottom: 80px;

    .detail-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 6px solid transparent;
      border-radius: 5px;
      width: 100%;
      z-index: 0;

      .details-img {
        img {
          width: 350px;
          height: auto;
          border-radius: 30px;
        }


      }

      .details-footer {
        padding: 1rem;
        width: 600px;

        .body {
          height: 300px;
        }

        h1 {
          text-align: center;
          font-weight: 600;
          font-size: 1.5rem;
          color: #333;
          font-family: Arial, Helvetica, sans-serif;
        }

        p {
          margin-top: 5px;
          font-weight: 700;
          color: rgba($color: #000000, $alpha: 0.555);
          text-transform: uppercase;
          font-size: 13px;
        }

        .detail-platform {
          color: #000000;
          padding-top: 5px;
        }

      }

      .detail-btn {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        text-decoration: none;

        .btn-det {
          border: none;
          outline: 0;
          cursor: pointer;
          border-radius: 5px;
        }

        button {
          background-color: rgb(30, 44, 86);
          max-width: 250px;
          width: 100%;
          margin: 0 auto;
          font-size: 1.5rem;
          color: #ffffff;
          font-weight: 600;
        }

        div {
          background-color: #08a05c;
          display: grid;
          align-items: center;
          text-align: center;
          margin-left: -2rem;
          border-radius: 5px;

          a {
            color: #ffffff;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }

      .comment-visible {
        display: block;
      }

      .comment-invisible {
        display: none;
      }

      .button {

        .btn-comment {
          width: 200px;
          height: 50px;
          border-radius: 10px;
          border: 1px, solid #ffffff;
          background-color: #1E2C56;
          color: #ffffff;
          font-size: 20px;
        }
      }
    }
  }
}

.details-invisible {
  display: none;
}

.commentBox {
  display: block;
}