.commentContainer {
  width: 800px;
  background: white;
  padding: 20px;
  padding-bottom: 80px;
  margin-top: 30px;
  border-top: 6px solid #333;
  font-size: 15px;
  overflow: scroll;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 6px solid #333;

  .container-comments {
    margin-top: 20px;
    width: 100%;


    .comments {
      display: flex;
      width: 100%;


      .info-comments {
        width: 100%;
        background: #e6e6e6;
        transition: all 300ms;
        margin-top: 10px;
        border-bottom: 6px solid #333;


        .header {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          background: #333;
          color: white;


          .title {
            color: #2a8fee;
          }
        }

        p {
          padding: 20px;
        }

        .form-group {
          display: flex;
          align-items: center;
          justify-content: center;

          .form-comment {
            width: 95%;
            height: 100px;
            text-align: center;
            margin: 10px;
          }
        }

        .footer-comment {
          display: flex;
          justify-content: center;
          align-items: center;

          .footer-btn {
            .btn-send-comment {
              width: 220px;
              height: 30px;
              font-size: 15px;
              margin: 10px;
              background-color: #1E2C56;
              border-radius: 5px;
              color: #FFFFFF;
            }

            p {
              font-weight: bold;
              color: red;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 500px;
  }



}

.invisible {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 48%;
  top: 10%;

  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #012eb7;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}